---
layout: archive
title: "Resources"
permalink: /talks/
author_profile: true
---

{% if site.talkmap_link == true %}


{% endif %}

{% for post in site.talks reversed %}
  {% include archive-single-talk.html %}
{% endfor %}

## Datasets

Here is a list of publicly available datasets that were introduced in our works:

- **[2024]** - CLEVR-Per dataset - [Download](https://huggingface.co/datasets/guodaosun/CompoVIS) & [Associated paper](/files/Lander.pdf)

- **[2022]** - DocFig dataset - [Download](https://example.com/docfig) & [Associated paper](https://example.com/paper2)


